/* PALETTE */
:root {
    --primary: #0f0f0f;
    --secondary: #ffffff;
    font-family: Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
  }

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* GLOBAL STYLES */
body {
    background-color: var(--primary);
    color: var(--secondary);
    background-size: cover;
  }

li {
    list-style-type: none;
  }

li  img {

  filter: invert(100%);

}

  
a {
    text-decoration: none; 
    color: var(--secondary);
  }

button {
  display:block;
  margin:auto;
  border: 2px solid var(--secondary);
  padding: 10px;
  background-color: transparent;
  text-transform: uppercase;
  filter: invert(100%);
  font-weight: 800;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: var(--secondary);
  color: var(--primary);
}


 .social {
    
    display: flex;
    justify-content: right;
    filter: invert(100%);

  }
  .social img{
    height: 30px;
    width: auto;
    padding: 0 10px;
  }  

/* NAVBAR */


/* Ocultamos por defecto el menú hamburguesa*/
label {
  display: none;
}
/* Ocultamos también el input para hacer click en el menú hamburgesa sin que se vea el checkbox*/
input {
  display: none;
}


nav > ul {
  height: 100px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

nav img {
  height: 40px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}


/* HEADER */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-size: cover;
  animation: entrance 3s;
}

header > img {
  width: auto;
}

@keyframes entrance {
  0% {
    opacity: 0;
    }

  100% {
    opacity: 1;
    }
}

/* MAIN */
main > h2 {
  height: 100px;
  width: auto;
  text-transform: uppercase;
  text-align: center;
  padding: 40px;
}

main > ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  gap: 20px;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {
  main > ul {
    grid-template-columns: repeat(2, 1fr);



/* Cuando tenemos como máximo 600px de ancho en pantalla, hacemos que aparezca el menú hamburguesa y ocultamos el menú de links*/

  label {
    display: flex;
    font-size: 30px;
    
  



  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
  main > ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
  main > ul {
    grid-template-columns: repeat(4, 1fr);
  }
}



main > ul > li {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}

main img {
  width: 100%;
}

.video {
    
  display: flex;
  justify-content: center;
  

}

iframe{
  display:flex;
  justify-content: center;
  height: 800px;
  width: 100%;
  align-items: center;
  padding: 0 10px;
}  


.foot {
  height: 400px; 
  width: auto;
  font-size: larger;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  background: #131313;
  border-top: 1px solid #e8e8e1;
  background-image: url(https://cdn.shopify.com/s/files/1/0637/9480/7017/files/DSNEWBG00001.jpg?v=1661357281);
  }

  .foot_div_1 {
    padding-right: 100px;
    flex-direction:row;
  }

  
  .foot_div_2 {
    padding-right: 20px;
    padding-bottom: 20px;
    flex-direction:row;
  }

  .foot_div_21{
    padding-left: 180px;
    padding-bottom: 20px;
  }

 
  input {
  padding: 10px 45px 10px 0;
  background-color: #131313;
  width: 300px;
  height: auto;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid;
  border-bottom-color: #ffffff;
   
  }


  footer img{
  filter: invert(100%);
  }


  .social_foot {
    
  display: flex;
  padding: 10px;
  justify-content: left;
  filter: invert(100%);

  }
  .social_foot img{
  height: 30px;
  width: auto;
  padding: 0 10px;
  }  

